:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #fff;
}

.flex {
    display: flex;
}

.justify {
    &-center {
        justify-content: center;
    }

    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-between {
        justify-content: space-between;
    }
}

.align {
    &-center {
        align-items: center;
    }

    &-start {
        align-content: flex-start;
    }

    &-end {
        align-content: flex-end;
    }
}

.form-container {
    .row {
        display: block;

        .col {
            width: 100%;
        }
    }


    .space-y {
        &-15 {
            .col:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }


    .label {
        font-size: 14px;
        color: #242424;
        display: block;
        margin-bottom: 8px;

        &.gray {
            color: #c9c9c9;
        }
    }

    input {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #c9c9c9;
        appearance: none;
        width: 92%;
        height: 45px;
        border-radius: 10px;
        outline: none;
        padding: 0 4%;
        font-size: 18px;
        font-weight: 300;
        font-family: "Inter", sans-serif;

        &:focus {
            background-color: #fff;
            border: 1px solid #757575;
            transition: all .8s;
        }
    }

    .btn {
        &-gray {
            appearance: none;
            background-color: #4f4f4f;
            width: 100%;
            border-radius: 10px;
            padding: 15px 10px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            opacity: 0.9;
            border: 1px solid transparent;

            &:hover {
                background-color: #FF3CAC;
                background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

                cursor: pointer;
                opacity: 1;
                transition: opacity 1s ease 0s;
            }
        }
    }
}

body {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}